.fab {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	position: absolute;
	padding: 15px 20px;

	border-radius: 100px;
	font-size: 1rem;

	transition: var(--delay);

	cursor: pointer;

	&.light {
		background-color: var(--light-background);
		border: 1px solid var(--light-border);
		box-shadow: 0px 0px 10px gainsboro;

		&:hover:not(:disabled) {
			background: whitesmoke radial-gradient(circle, transparent 1%, whitesmoke 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: gainsboro;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.dark {
		background-color: var(--dark-accent);
		border: 1px solid var(--dark-border);
		box-shadow: 0px 0px 10px var(--dark-border);
		color: var(--dark-color);

		&:hover:not(:disabled) {
			background: #21262D radial-gradient(circle, transparent 1%, #21262D 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: #3A4450;
			background-size: 100%;
			transition: background 0s;
		}
	}
}