.accordion {
	display: flex;
	flex-direction: column;

	width: 100%;

	transition: var(--delay);

	&.light {
		border: 1px solid var(--light-border);

		.accordion-button {
			background-color: var(--light-accent);
			border-bottom: 1px solid var(--light-border);
		}

		.accordion-body {
			background-color: var(--light-background);
		}
	}

	&.dark {
		border: 1px solid var(--dark-border);

		.accordion-button {
			background-color: var(--dark-accent);
			border-bottom: 1px solid var(--dark-border);
			color: var(--dark-color);
		}

		.accordion-body {
			background-color: var(--dark-background);
			color: var(--dark-color);
		}
	}

	&.transparent {
		border: transparent;

		.accordion-button {
			border: transparent;
			background: transparent;
		}

		.accordion-body {
			border: transparent;
			background: transparent;
		}
	}

	&.round {
		--radius: 5px;

		border-radius: var(--radius);

		.accordion-button {
			border-radius: var(--radius);
		}

		.accordion-body {
			border-bottom-left-radius: var(--radius);
			border-bottom-right-radius: var(--radius);
		}
	}

	&.open {
		.accordion-svg {
			transform: rotate(180deg);
		}

		.accordion-body {
			max-height: 1000px;
		}
	}

	&.close {
		.accordion-svg {
			transform: rotate(360deg);
		}

		.accordion-body {
			max-height: 0px;
		}
	}
}

.accordion-button {
	display: flex;
	align-items: center;
	gap: 10px;

	border: transparent;
	padding: 10px;

	cursor: pointer;
}

.accordion-title {
	flex: 1;

	text-align: initial;
}

.accordion-svg {
	display: flex;
	align-items: center;

	transition: var(--delay);
}

.accordion-body {
	overflow: hidden;
	transition: var(--delay);
}