@mixin color($primary, $secondary) {
	background-color: $primary;
	border: 1px solid $secondary;
}

.button {
	$color: black;

	@include color($color, $color);

	position: relative;
	color: white;
	font-family: inherit;
	font-size: 1rem;

	background-position: center;
	padding: 5px 15px;

	cursor: pointer;

	transition: var(--delay);

	&:hover:not(:disabled) {
		background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
	}

	&:active:not(:disabled) {
		background-color: white;
		background-size: 100%;
		transition: background 0s;
	}

	&:disabled {
		opacity: 0.5;

		cursor: not-allowed;
	}

	&.border-round {
		border-radius: 5px;
	}

	&.border-circle {
		border-radius: 100px;
	}

	&.dark {
		$color: white;

		@include color($color, $color);

		color: black;

		&:hover:not(:disabled) {
			background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: black;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.color-primary {
		$color: dodgerblue;

		@include color($color, $color);

		color: white;

		&:hover:not(:disabled) {
			background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: white;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.color-submit {
		$color: limegreen;

		@include color($color, $color);

		color: white;

		&:hover:not(:disabled) {
			background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: white;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.color-warn {
		$color: orange;

		@include color($color, $color);

		color: white;

		&:hover:not(:disabled) {
			background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: white;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.color-error {
		$color: crimson;

		color: white;

		@include color($color, $color);

		&:hover:not(:disabled) {
			background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: white;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.color-dark {
		$color: var(--dark-accent);

		color: white;

		@include color($color, var(--dark-border));

		&:hover:not(:disabled) {
			background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
		}

		&:active:not(:disabled) {
			background-color: white;
			background-size: 100%;
			transition: background 0s;
		}
	}

	&.loading {
		.body {
			opacity: 0;
		}

		.loading {
			opacity: 1;
		}
	}

	.loading {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;
		opacity: 0;

		animation: loading 0.75s linear infinite;
	}
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}