@mixin color($background, $border, $font) {
	background-color: $background;
	border: 1px solid $border;

	color: $font;

	&.outline {
		background-color: transparent;

		color: $background;
	}

	&:hover:not(:disabled) {
		color: $font;

		background: $background radial-gradient(circle, transparent 1%, $background 1%) center/15000%;
	}

	&:active:not(:disabled) {
		background-color: gainsboro;
		background-size: 100%;
		transition: background 0s;
	}
}

.button {
	@include color(black, black, white);

	position: relative;
	font-family: inherit;
	font-size: 1rem;

	background-position: center;
	padding: 5px 15px;

	cursor: pointer;

	transition: var(--delay), color 0s;

	&:disabled {
		opacity: 0.5;

		cursor: not-allowed;
	}

	&.border-round {
		border-radius: 5px;
	}

	&.border-circle {
		border-radius: 100px;
	}

	&.dark {
		@include color(white, white, black);

		&.transparent {
			@include color(transparent, transparent, white);
		}
	}

	&.color-primary {
		@include color(dodgerblue, dodgerblue, white);
	}

	&.color-submit {
		@include color(limegreen, limegreen, white);
	}

	&.color-warn {
		@include color(orange, orange, white);
	}

	&.color-error {
		@include color(crimson, crimson, white);
	}

	&.color-dark {
		@include color(var(--dark-accent), var(--dark-border), white);
	}

	&.transparent {
		@include color(transparent, transparent, black);
	}

	&.loading {
		.body {
			opacity: 0;
		}

		.spinner {
			opacity: 1;
		}
	}

	.body {
		display: flex;
		justify-content: center;
		align-items: center;

		transition: var(--delay);
	}

	.spinner {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;
		opacity: 0;

		transition: var(--delay);

		svg {
			animation: loading 0.75s linear infinite;
		}
	}
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}