html,
body {
	margin: 0px !important;
	padding: 0px !important;
}

.root {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 20px;
	background-color: var(--light-background);

	transition: var(--delay);

	&.dark {
		background-color: var(--dark-background);
	}

	&.header {
		padding: initial;
		height: 200px;
	}

	&.full {
		height: 100vh;
	}
}

.row {
	display: flex;
	gap: 20px;
}