@mixin size-codegen($size) {
	&.#{$size} {
		width: var(--#{$size});

		&.left {
			left: calc(var(--#{$size}) * -1);

			&.open {
				left: 0px;
			}

			&.close {
				left: calc(var(--#{$size}) * -1);
			}
		}

		&.right {
			right: calc(var(--#{$size}) * -1);

			&.open {
				right: 0px;
			}

			&.close {
				right: calc(var(--#{$size}) * -1);
			}
		}
	}
}

.sidebar {
	--small: 150px;
	--normal: 200px;
	--large: 250px;
	--xlarge: 300px;

	position: fixed;
	top: 0px;
	height: 100%;

	background-color: red;

	transition: var(--delay);

	&.light {
		background-color: var(--light-background);
		border-left: 1px solid var(--light-border);
		border-right: 1px solid var(--light-border);
	}

	&.dark {
		background-color: var(--dark-accent);
		border-left: 1px solid var(--dark-border);
		border-right: 1px solid var(--dark-border);
		color: var(--dark-color);
	}

	@include size-codegen('small');
	@include size-codegen('normal');
	@include size-codegen('large');
	@include size-codegen('xlarge');
}